.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.left-align {
  text-align: left;
}

.full-width {
  width: 100%;
}

.link {
  cursor: pointer;
}

.body {
  padding-left: 1%;
  padding-right: 1%;
}

.hideSection {
  display: none;
}

.showSection {
  display: block;
}
